[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.25"
beautifulsoup4 = "~=4.9"
requests-cache = "~=0.4"
scipy = "*"
numpy = "*"
jinja2 = "*"
pylint = "*"
yapf = "*"
watchdog = "*"
python-dateutil = "*"
exceptiongroup = "*"
typing-extensions = "*"
pulumi = "*"

[dev-packages]

[requires]
python_version = "3.11.4"

[scripts]
main = "python main.py"
lint = "pylint lib"
test = "python -m unittest discover"
format = "yapf --in-place --recursive --style='{based_on_style: pep8, indent_width: 2}' ."
