[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.25"
beautifulsoup4 = "~=4.9"
requests-cache = "~=0.4"
scipy = "*"
numpy = "*"
python-dateutil = "*"
exceptiongroup = "*"
typing-extensions = "*"
requests-ratelimiter = "*"
dataclasses-json = "*"

[dev-packages]
yapf = "*"
watchdog = "*"
pylint = "*"

[requires]
python_version = "3.11"

[scripts]
main = "python main.py"
lint = "pylint lib"
test = "python -m unittest discover"
format = "yapf --in-place --recursive ."
