<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" >
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/fontawesome/all.min.css"/>
    <script type="module" src="/app.js"></script>
    {% endblock %}
  </head>
  <body>
    <div class="header">
      <div class="logo" aria-hidden="true">S#</div>
      <div class="mobile-menu-anchor expand-anchor desk-def-hidden" tabindex="0"><i class="fas fa-bars"></i></div>
      <ul class="menu mob-def-hidden">
        <li class="menu-item">
          <div class="expand-anchor" tabindex="1">Years <i class="fas fa-caret-down"></i></div>
          <ul class="menu desk-def-hidden">
            <li class="menu-item">2020</li>
            <li class="menu-item">2019</li>
            <li class="menu-item">2018</li>
          </ul>
        </li>
        <li class="menu-item">
          <div class="expand-anchor" tabindex="2">Divisions <i class="fas fa-caret-down"></i></div>
          <ul class="menu desk-def-hidden">
            <li class="menu-item">NCAA Men's Division 1</li>
            <li class="menu-item">NCAA Men's Division 2</li>
            <li class="menu-item">NCAA Men's Division 3</li>
            <li class="menu-item">NCAA Women's Division 1</li>
            <li class="menu-item">NCAA Women's Division 2</li>
            <li class="menu-item">NCAA Women's Division 3</li>
            <li class="menu-item">MCLA Division 1</li>
            <li class="menu-item">MCLA Division 2</li>
          </ul>
        </li>
      </ul>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>