body {
  font-family: 'Fira Mono', monospace;
  padding: 0;
  margin: 0;
}

thead {
  font-weight: bold;
}

th {
  text-align: left;
}

.header {
  background-color: #551c1c;
  color: white;
  font-style: italic;
  padding: 1em;
  margin-bottom: 4em;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  cursor: pointer;
}

.menu {
  display: flex;
}

.menu.def-hidden {
  display: none;
}

/* MOBILE */
@media (max-width: 600px) {
  h1 {
    margin-left: 2rem;
  }

  h3 {
    margin-block-end: 0.5em;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
  }

  .mob-def-hidden {
    display: none;
  }

  .mobile-menu-anchor {
    position: absolute;
    top: 0rem;
    right: 0rem;
    margin: 0.75rem;
    padding: 0.75rem;
  }

  .fas.fa-caret-down {
    display: none;
  }

  .menu-heading {
    margin-top: 1rem;
  }
}

/* DESKTOP */
@media (min-width: 600px) {
  h1 {
    margin-left: 5rem;
  }

  table {
    margin-left: 5rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu-item {
    padding-left: 3rem;
  }

  .menu .menu {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    /* border-radius: 0.25rem; */
    color: rgb(92, 92, 92);
  }

  .menu .menu .menu-item {
    padding-left: 0.5rem;
  }

  .desk-def-hidden {
    display: none;
  }
}