<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" >
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/fontawesome/all.min.css"/>
    <script type="module" src="/app.js"></script>
    {% endblock %}
  </head>
  <body>
    <div class="header">
      <div class="logo" aria-hidden="true">S#</div>
      <div class="mobile-menu-anchor expand-anchor desk-def-hidden" tabindex="0"><i class="fas fa-bars"></i></div>
      <ul class="menu mob-def-hidden">
        <li class="menu-item">
          <h3 class="expand-anchor menu-heading" tabindex="1">Years <i class="fas fa-caret-down"></i></h3>
          <ul class="menu desk-def-hidden">
          {%- for y in ["2021", "2020", "2019", "2018"] -%}
            <li class="menu-item">
            {%- if y != year -%}
              <a href="{{ uri_for_year(y) }}">{{ y }}</a>
            {%- else -%}
              {{ y }}
            {%- endif -%}
            </li>
          {%- endfor -%}
          </ul>
        </li>
        <li class="menu-item">
          <h3 class="expand-anchor menu-heading" tabindex="2">Divisions <i class="fas fa-caret-down"></i></h3>
          <ul class="menu desk-def-hidden">
          {%- for name, div in ({
            "NCAA Men's Division 1": dict(sport='ml', source='ncaa', div='1'),
            "NCAA Men's Division 2": dict(sport='ml', source='ncaa', div='2'),
            "NCAA Men's Division 3": dict(sport='ml', source='ncaa', div='3'),
            "NCAA Women's Division 1": dict(sport='wl', source='ncaa', div='1'),
            "NCAA Women's Division 2": dict(sport='wl', source='ncaa', div='2'),
            "NCAA Women's Division 3": dict(sport='wl', source='ncaa', div='3'),
            "MCLA Division 1": dict(sport='ml', source='mcla', div='1'),
            "MCLA Division 2": dict(sport='ml', source='mcla', div='2'),
          }).items() -%}
            <li class="menu-item"><a href="{{ uri_for_div(year=year, **div) }}">{{ name }}</a></li>
          {%- endfor -%}
          </ul>
        </li>
      </ul>
    </div>
    {% block body %}{% endblock %}
    <div class="footer">
      <a href="https://twitter.com/sportnumerics"><i class="fab fa-twitter fa-lg"></i></a>
    </div>
  </body>
</html>