name: Deploy Infra
on:
  push:
    branches:
      - main
    paths:
      - 'infrastructure/**'
      - '.github/workflows/deploy-infra.yml'
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

defaults:
  run:
    working-directory: infrastructure

jobs:
  deploy:
    name: Deploy Infra
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: us-west-2
        role-to-assume: arn:aws:iam::265978616089:role/rankings-deployment-role-prod
        role-session-name: RankingsDeployProd

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.10.5"

    - name: Deploy
      run: "./deploy.sh prod"
